/* You can add global styles to this file, and also import other style files */
/* body {
  background-color: #BAA898 !important;
} */

.loading {
  padding-top: 20px;
}

.separator {
  padding-bottom: 30px;
}